<div ng-hide="admin.ordersModal">
    <h1>Welcome to the Admin Account</h1>

    <div ng-repeat="options in admin.options">
        <h2>Orders for {{options.restaurant}} for {{options.day[0]}} {{options.date}}</h2>
        <h6 ng-click="admin.viewOrders(options.day[0],options.date,options.restaurant)">view orders / input price</h6>
    </div>

    <!--<h2>Monday Orders</h2>
    <h6 ng-click="admin.viewOrders('monday')">view orders / input price</h6>
    <h2>Tuesday Orders</h2>
    <h6 ng-click="admin.viewOrders('tuesday')">view orders / input price</h6>
    <h2>Wednesday Orders</h2>
    <h6 ng-click="admin.viewOrders('wednesday')">view orders / input price</h6>
    <h2>Thursday Orders</h2>
    <h6 ng-click="admin.viewOrders('thursday')">view orders / input price</h6>
    <h2>Friday Orders</h2>
    <h6 ng-click="admin.viewOrders('friday')">view orders / input price</h6>-->
</div>


<!--Order Modale-->
<div class="background" ng-show="admin.ordersModal">
<form class="order" >
    <h1 class='cursor pull-right' ng-click='admin.ordersModal =! admin.ordersModal'>X</h1>
    <h1 class='form-title'>Orders for {{admin.day}} {{admin.date}} for {{admin.restaurant}}</h1>

    <div class="container">
        <div class="row">
            <div ng-repeat="orders in admin.orders | filter:admin.day" class="col-sm-3 adminOrders">
                <h6>Employee Name: {{orders.name}}</h6>
                <h6>Restaurant: {{orders.restaurant}}</h6>
                <h6>Food Order: {{orders.food}}</h6>
                <h6>Drink Order:{{orders.drink}}</h6>
                <h1>{{orders.restaurant.length}}</h1>
                <br>
            </div>
        </div>
    </div>

    <div class="form-group"> 
        <h4>Total cost of {{admin.day}}'s order <input type="number" ng-model="admin.cost"></h4>
        
        <button type="submit" class="btn btn-default" ng-click='admin.orderCost()'>Submit Order Cost</button>
    </div>
</form>
</div>