<div class='background'></div>

<!--Login-->
<form class="login" ng-hide="auth.signUp">
    <h1 class='form-title'>Welcome OneSpace Employee</h1>


    <div class="form-group">
        <label for="Email" class="pull-left">Email address</label>
        <input type="email" class="form-control" id="Email" placeholder="Email" ng-model='auth.email'>
    </div>

    <div class="form-group">
        <label for="password" class="pull-left">Password</label>
        <input type='password' class="form-control" id="password" placeholder="Password" ng-model='auth.password'>
    </div>

    <div class="form-group"> 
        <button type="submit" class="btn btn-default" ng-click='auth.login()'>Submit</button>
        <h3>{{auth.loginError}}</h3>
    </div>

    <h4 ng-click='auth.signUp =! auth.signUp'>New to our team? Sign up here.</h4>
</form>

<!--Register-->

<form class="login" ng-show='auth.signUp'>
  <h1 class='form-title'>Register</h1>

    <div class="form-group">
        <label for="Name" class="pull-left">First Name</label>
        <input type="text" placeholder="First Name" ng-model='auth.firstName' class="form-control" required>
    </div>

    <div class="form-group">
        <label for="Email" class="pull-left">Email address</label>
        <input ng-class='{red: auth.emailField === true}' type="email" class="form-control" placeholder="Email" ng-model='auth.registerEmail' required>
    </div>

    <div class="form-group">
        <label for="password" class="pull-left">Password</label>
        <input ng-class='{red: auth.noPassMatch === true}' type='password' class="form-control" placeholder="Password" ng-model='auth.registerPassword' required>
    </div>

    <div class="form-group">
        <label for="password" class="pull-left">Confirm Password</label>
        <input ng-class='{red: auth.noPassMatch === true}' type='password' class="form-control" placeholder="Confirm Password" ng-model='auth.confirmPassword' required>
    </div>

    <button type="submit" class="btn btn-default" ng-click='auth.register()'>Submit</button>
    
    <h3>{{auth.tryAgain}}</h3>
</form>