<h1>Hey there {{lunch.data.name}}</h1>

<!--<h6>What day do you want lunch? : </h6>
<select ng-model="lunch.day">
    <option value="monday">Monday</option>
    <option value="tuesday">Tuesday</option>
    <option value="wednesday">Wednesday</option>
    <option value="thursday">Thursday</option>
    <option value="friday">Friday</option>
</select>

<h1 ng-if="lunch.day.length>4">Restaurants available for {{lunch.day}}.</h1>

<div ng-repeat="restaurants in lunch.restaurants | filter: lunch.day">
    <h1>{{restaurants.restaurant}}</h1>
    <a href="{{restaurants.menu}}" target="_blank">menu</a>

</div>-->

<h1>Monday</h1>
<form ng-repeat="restaurants in lunch.restaurants | filter: 'monday'">
    <h4>fdasklf {{restaurants.restaurant}}</h4>

    <a href="{{restaurants.menu}}" target="_blank">menu</a>
    <br>
    <button type="submit" ng-click="lunch.orderModal(restaurants.restaurant, restaurants.menu, 'Monday')">Order {{restaurants.restaurant}}</button>
</form>

<h1>Tuesday</h1>
<div ng-repeat="restaurants in lunch.restaurants | filter: 'tuesday'">
    <h4>{{restaurants.restaurant}}</h4>
    <a href="{{restaurants.menu}}" target="_blank">menu</a>
    <br>
    <button type="submit" ng-click="lunch.orderModal(restaurants.restaurant, restaurants.menu, 'Tuesday')">Order {{restaurants.restaurant}}</button>
</div>

<h1>Wednesday</h1>
<div ng-repeat="restaurants in lunch.restaurants | filter: 'wednesday'">
    <h4>{{restaurants.restaurant}}</h4>
    <a href="{{restaurants.menu}}" target="_blank">menu</a>
    <br>
    <button type="submit" ng-click="lunch.orderModal(restaurants.restaurant, restaurants.menu, 'Wednesday')">Order {{restaurants.restaurant}}</button>
</div>

<h1>Thursday</h1>
<div ng-repeat="restaurants in lunch.restaurants | filter: 'thursday'">
    <h4>{{restaurants.restaurant}}</h4>
    <a href="{{restaurants.menu}}" target="_blank">menu</a>
    <br>
    <button type="submit" ng-click="lunch.orderModal(restaurants.restaurant, restaurants.menu, 'Thursday')">Order {{restaurants.restaurant}}</button>
</div>

<h1>Friday</h1>
<div ng-repeat="restaurants in lunch.restaurants | filter: 'friday'">
    <h4>{{restaurants.restaurant}}</h4>
    <a href="{{restaurants.menu}}" target="_blank">menu</a>
    <br>
    <button type="submit" ng-click="lunch.orderModal(restaurants.restaurant, restaurants.menu, 'Friday')">Order {{restaurants.restaurant}}</button>
</div>


<!--Order Modale-->
<form class="order" ng-show="lunch.orderModale">
    <h1 class='form-title'>Order lunch from {{lunch.restaurantChoosen}} for {{lunch.day}}</h1>
    <a href="{{lunch.menuChoosen}}" target="_blank">menu</a>


    <div class="form-group">
        <label for="food">Food Order</label>
        <input type="text" class="form-control" id="food" placeholder="food order" ng-model='lunch.foodOrder'>
    </div>

    <div class="form-group">
        <label for="drink">Drink Order</label>
        <input type='text' class="form-control" id="drink" placeholder="drink order" ng-model='lunch.drinkOrder'>
    </div>

    <div class="form-group"> 
        <button type="submit" class="btn btn-default" ng-click='lunch.order()'>Submit</button>
    </div>
</form>