<!--<div class="background">-->
    <h1>Hey there {{lunch.data.name}}</h1>
    <h1>Outstanding Balance: {{lunch.employeeBill}}</h1>

    <button ng-click="lunch.showOptions =! lunch.showOptions" class="btn orange">Show Lunch Options</button>
    <button ng-click="lunch.openOrders =! lunch.openOrders" class="btn orange">My Open Orders</button>
    <button ng-click="lunch.pastOrders =! lunch.pastOrders" class="btn orange">My Past Orders</button>

<!--Order Options-->
    <div ng-show="lunch.showOptions" class="order orderCenter">
        <h1 class='cursor pull-right' ng-click='lunch.showOptions =! lunch.showOptions'>X</h1>
        <h1>Lunch Options</h1>
        <div class="fileScroll">
            <div ng-repeat="restaurants in lunch.restaurants |filter: {completed:false} | orderBy:'date'" class="col-xs-4">
                <h1>{{restaurants.date.substr(5,5)}}</h1>
                <h3>{{restaurants.restaurant}}</h3>
                <a href="{{restaurants.menu}}" target="_blank"><h4>menu</h4></a>
                <br>
                <button type="submit" ng-click="lunch.orderModal(restaurants.restaurant, restaurants.menu, restaurants.date)" class="btn">Order {{restaurants.restaurant}}</button>
            </div>
        </div>

    </div>


<!--Open Orders-->
    <div ng-show="lunch.openOrders" class="order">
        <h1 class='cursor pull-right' ng-click='lunch.openOrders =! lunch.openOrders'>X</h1>
        <h1 class="orderCenter">Open Orders</h1>

        <div ng-repeat="orders in lunch.myOrders | filter: {completed:false} | orderBy:'date'" class="col-xs-4">
            <h5>Date: {{orders.date.substr(5,5)}}</h5>
            <h5>Restaurant: {{orders.restaurant}}</h5>
            <h5>Food Ordered: {{orders.food}}</h5>
            <h5>Drink Ordered: {{orders.drink}}</h5>
            <h5>{{orders.completed}}</h5>
        </div>

    </div>

<!--Past Orders-->
    <div ng-show="lunch.pastOrders" class="order">
        <h1 class='cursor pull-right' ng-click='lunch.pastOrders =! lunch.pastOrders'>X</h1>
        <h1 class="orderCenter">Past Orders</h1>

        <div ng-repeat="orders in lunch.myOrders | filter: {completed:'true'} | orderBy:'date'" class="col-xs-4">
            <h5>Date: {{orders.date.substr(5,5)}}</h5>
            <h5>Restaurant: {{orders.restaurant}}</h5>
            <h5>Food Ordered: {{orders.food}}</h5>
            <h5>Drink Ordered: {{orders.drink}}</h5>
            <h5>Cost: {{orders.cost}}</h5>
            <h5>{{orders.completed}}</h5>
        </div>

    </div>


<!--Order Modale-->
    <div class="background" ng-show="lunch.orderModale">
    <form class="order orderCenter" >
        <h1 class='cursor pull-right' ng-click='lunch.orderModale =! lunch.orderModale; lunch.showOptions =! lunch.showOptions'>X</h1>
        <h1 class='form-title'>Order lunch from {{lunch.restaurantChoosen}} for {{lunch.date.substr(5,5)}}</h1>
        <a href="{{lunch.menuChoosen}}" target="_blank"><h3>menu</h3></a>


        <div class="form-group">
            <label for="food" class="pull-left">Food Order</label>
            <input type="text" class="form-control" id="food" placeholder="food order" ng-model='lunch.foodOrder'>
        </div>

        <div class="form-group">
            <label for="drink" class="pull-left">Drink Order</label>
            <input type='text' class="form-control" id="drink" placeholder="drink order" ng-model='lunch.drinkOrder'>
        </div>

        <div class="form-group"> 
            <button type="submit" class="btn btn-default" ng-click='lunch.order()'>Submit</button>
        </div>
    </form>
    </div>
</div>